
.title_text {
    color: var(--title_color);
}

.hello {
    background-color: pink;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}

  //
  .character_list_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    .card_container {
        box-sizing: border-box; 
        width: calc(25% - 40px);
        border: 1px solid green;
        margin: 20px; 
        
        @media only screen and (max-width: $lg) {
          width: calc(50% - 40px); 
          background-color: red;
        }
        
        @media only screen and (max-width: $md) {
          width: 100%; 
          background-color: yellow;
        }

        //left container
        .image_container {
            img {}
        }

        //right container
        .content_container {
            .details_section {

                .text-gray {}

                .heading_text{
                    h2 {}
                }
                .status {
                    .status__icon {}
                }
            }
        }

    }
  }